* {
  font-family: 'Poppins', sans-serif;
}

/*  Styling for the Header*/
:root {
  --backgound: #D9D9D9;
  --green: #339966;
  --white: #ffffff;
  --black: #333333;
  --text: #1F1C1C80;

}

section {
  background-color: var(--white);
  padding: 10px;
  border-bottom: 1px solid var(--black);
}

article {
  background-color: var(--white);
  padding: 10px;
  border-bottom: 1px solid var(--black);
  text-align: center;
}

.logo {
  text-align: center;
}

.carousel img {
  width: 100%;
  height: 400px;
  background-size: cover;
}

.carousel-text {
  position: absolute;
  color: var(--white);
  padding: 20px;
  font-weight: bold;
  margin: 130px 150px;
}

.carousel-text h2 {
  font-weight: bold;
}

.carousel-text button {
  border: none;
  outline: none;
  padding: 10px;
  width: 40%;
  border-radius: 8px;
  gap: 10px;
  background-color: var(--green);
  color: var(--white);
  transition: .4s ease;
}

.carousel-text button:hover {
  transform: scale(.9);
}

.dropdown-menu {
  background-color: var(--green);
}

.dropdown-item {
  color: var(--white);
  transition: .4s ease;
}

/*  Styling for the Header*/


/*  Styling for Why-uniuyo*/
.Why-uniuyo {
  text-align: center;
}

.header {
  color: var(--green);
  text-align: center;
}

.Why-uniuyo p {
  width: 50%;
  text-align: center;
  margin: auto;
}

.see-more-btn {
  border: none;
  outline: none;
  padding: 10px;
  width: 15%;
  border-radius: 8px;
  gap: 10px;
  background-color: var(--green);
  color: var(--white);
  transition: .4s ease;
}

.see-more-btn:hover {
  transform: scale(.9);
}

.student {
  margin: auto 100px;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.student-content img {
  width: 100%;
}

/*  Styling for Why-uniuyo */


/*  Styling for Faculties */

.faculties {
  text-align: center;
}

.faculties-item {
  margin: auto 100px;
  display: flex;
  gap: 20px;
}

.faculties-item img {
  width: 100%;
}

.faculties-content p {
  position: relative;
  background-color: var(--green);
  color: var(--white);
  top: -60px;
  padding: 10px;
  padding-left: 10px;
  width: 50%;
}

/*  Styling for Faculties */

/*  Styling for Campus */
.picture-flex-content {
  display: flex;
  gap: 10px;
}

.picture-flex-content .picture-item {
  width: 100%;
  text-align: center;
}

.picture-flex-content img {
  height: 200px;
  width: 100%;
}

.picture-flex-content p {
  position: relative;
  top: -60px;
  padding: 10px 10px 10px 30px;
  width: 60%;
  color: var(--white);
  background-color: var(--green);
}

/*  Styling for Campus */

/*  Styling for UniUyo news */

.uniuyo-news {
  padding: 20px;
}

.item img {
  background-image: url(/Images/News-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.news-content-text {
  width: 330px;
}

.news-content-text h3 {
  position: relative;
  margin-top: -280px;
  padding: 10px;
  color: var(--white);
  font-size: 19px;
  font-weight: bold;
}

.news-content-text p {
  opacity: .8;
  color: var(--white);
  font-size: 19px;
  padding: 10px;
  margin-top: -15px;
}

.item button {
  position: relative;
  width: 50%;
  margin-left: 10px;
  margin-top: -20px;
}

/*  Styling for UniUyo news */


/*  Styling for Alumni feedback */

.alumni-grid {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
}

.alumni-grid-image {
  text-align: center;
}

.alumni-grid-info {
  text-align: center;
}

.alumni-grid-info h4 {
  color: var(--green);
}

.alumni-grid-item{
  background-color: var(--black);
  color: var(--white);
}
.alumni-grid-item2{
  margin-top: -5em;
  margin-left: 2em;
  background-color: var(--black);
  color: var(--white);
}

.first-grid /* used on the first and third grid box to give space at the botton */{
  margin-bottom: 1.5em;
}
.alumni-grid-item img {
  width: 80px;
  height: 80px;
  background-size: contain;
  border-radius: 50%;
}
.alumni-grid-item2 img {
  width: 80px;
  height: 80px;
  background-size: contain;
  border-radius: 50%;
}

.fa-quote-left {
  color: var(--green);
  font-size: 50px;
  margin-top: -30px;
}

.alumni-grid-text {
  width: 260px;
  margin: auto 30px;
}

/*  Styling for Alumni feedback */

/*  Styling for Article */

.article-item img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  filter: blur(1px);
  -webkit-filter: blur(2px);
}

.uniuyo-article-item {
  display: flex;
  margin: auto 150px;
  gap: 20px;
}

.article-content-text {
  width: 330px;
}

.article-content-text h3 {
  position: relative;
  margin-top: -240px;
  padding: 10px;
  color: var(--white);
  font-size: 19px;
  font-weight: bold;
}

.article-content-text p {
  opacity: .8;
  color: var(--white);
  font-size: 19px;
  padding: 10px;
  margin-top: -15px;
}

/*  Styling for Article */

/*  Styling for Donate */

.uniuyo-donate {
  background-color: var(--black);
  padding: 20px;
  border-bottom: 2px solid var(--white);
}

.uniuyo-donate-items {
  display: flex;
  gap: 180px;
}

.uniuyo-donate-image {
  margin-left: 50px;
  color: var(--white);
  margin-top: 55px;
}

.uniuyo-donate-image img {
  border-radius: 20px;
}

.uniuyo-donate-image h1 {
  position: relative;
  top: -120px;
  font-size: 48px;
  background-color: var(--text);
  width: 60%;
  margin: auto;
}

.uniuyo-donate button {
  border: none;
  outline: none;
  background-color: var(--green);
  color: var(--white);
  position: relative;
  top: 230px;
  text-align: center;
  width: 140%;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  transition: .4s ease;
}

.uniuyo-donate button:hover {
  transform: scale(.9);
}

/*  Styling for Donate */

/*  Styling for Footer */

.uniuyo-footer {
  display: flex;
}

footer {
  background-color: var(--green);
  padding: 30px;
}

.footer-logo {
  margin-left: 45px;
}

.footer-content {
  display: flex;
  gap: 30px;
  margin-left: -450px;
}

.find-us h2 {
  width: 20%;
  color: var(--white);
  margin-top: 10px;
}

.find-us p {
  width: 20%;
  color: var(--white);
  margin-top: 10px;
}

.footer-logo img {
  border-radius: 50%;
}

.footer-social-icons {
  display: flex;
  gap: 20px;
  font-size: 27px;
}

.footer-social-icons img {
  transition: .4s ease;
}

.footer-social-icons img:hover {
  transform: scale(.8);
}

.uniuyo-footer .footer-links {
  text-align: center;
  margin-left: 20px;
}

.uniuyo-footer ul {
  line-height: 40px;
}

.uniuyo-footer li {
  list-style-type: none;
  transition: .4s ease;
}

.uniuyo-footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: .4s ease;
}

.uniuyo-footer a:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  margin-top: -80px;
}

.copyright .copyright-text {
  vertical-align: middle;
  gap: 5px;
  color: var(--white);
  display: flex;
  margin: auto 495px;
}

.copyright .copyright-text i {
  margin-top: 3px;
}

.copyright .site-credit {
  font-weight: bold;
}

/*  Styling for Footer */





/* Mobile view */
@media (max-width: 800px) {
  .carousel-text {
    margin: 0;
    text-align: center;
  }

  .see-more-btn {
    width: 30%;
  }

  .student {
    flex-direction: column;
    margin: 0;
  }

  .student img {
    width: 100%;
  }

  .faculties {
    margin: 0;
  }

  .faculties-item {
    display: block;
    margin: 0;
  }

  .picture-flex-content {
    display: block;
  }

  .news-content {
    flex-direction: column;
    margin: 0;
  }

  .alumni-grid-content {
    flex-direction: column;
    margin: 0;
  }

  .alumni-grid {
    width: 100%;
  }

  .uniuyo-article-item {
    flex-direction: column;
    margin: 0;
  }

  .uniuyo-donate-items {
    flex-direction: column;
    margin: 0;
  }

  .footer-content {
    flex-direction: column;
    margin: 0;
  }

  .uniuyo-donate button {
    width: 100%;
    top: 0;
    font-weight: 0;
  }

  .uniuyo-donate-image img {
    width: 100%;
  }

  .uniuyo-donate-image {
    margin: 0;
  }

  .uniuyo-donate-image h1 {
    font-size: 25px;
  }

  footer {
    padding: 15px;
  }

  .uniuyo-footer {
    flex-direction: column;
    padding: 0;
  }

  .footer-content {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .copyright {
    margin-top: 0;
  }

  .carousel-text {
    margin-top: 100px;
  }
}